{% extends 'base.html' %}

{% block content %}
  <h1>Bandeja de salida</h1>
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>
        <a href="{% url 'blog_messages:view_message' message.id %}">
          <strong>{{ message.subject }}</strong>
          <br>
          <small>to {{ message.recipient.username }} at {{ message.timestamp }}</small>
        </a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No hay mensajes enviados</p>
  {% endif %}
{% endblock %}
