{% extends 'base.html' %}

{% block content %}
  <h2>Responder a {{ message.subject }}</h2>
  <form method="post" action="{% url 'reply_message' message.id %}">
    {% csrf_token %}
    <label for="to">Para:</label>
      <label>
          <input type="email" name="to" value="{{ message.sender.email }}" required>
      </label>
    <label for="subject">Asunto:</label>
      <label>
          <input type="text" name="subject" value="Re: {{ message.subject }}" required>
      </label><br>
    <label for="body">Cuerpo:</label>
      <label>
          <textarea name="body" rows="10" cols="50" required></textarea>
      </label><br>
    <button type="submit">Responder</button>
  </form>
{% endblock %}
