{% extends 'base.html' %}

{% block content %}
  <h2>Lista de usuarios</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a href="{% url 'accounts:delete_profile' user.id %}">Borrar perfil</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
